[project]
name = "app"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "databricks>=0.2",
    "dspy>=3.0.4",
    "grpcio-tools>=1.76.0",
    "mlflow>=3.7.0",
    "pydantic>=2.12.5",
]
